.login {
  width: 100%;
  height: 100%;
  background: #F3F3F3;
  transform: scale(1.1);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
  /* text-align: center; */
}

.login-header {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 28px;
  font-size: 20px;
  color: #999999;
  text-align: center;
}

.login-body {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.login-input {
  width: 300px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 24px;
  font-size: 14px;
  color: #999999;
  outline: none;
  padding-left: 20px;
}
.login-input:focus {
  border-color: #509ED1;
}

.login-input.usr {
  position: absolute;
  top: 88px;
}

.login-input.pwd {
  position: absolute;
  top: 144px;
}

.login-forgot {
  position: absolute;
  left: 300px;
  top: 157px;
  width: 70px;
  height: 20px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.login-checkbox {
  width: 16px;
  height: 16px;
  top: 196px;
}

.login-checkbox.repwd {
  position: absolute;
  left: 60px;
}

.login-checkbox.autologin {
  position: absolute;
  left: 164px;
}

.login-checkbox-tip {
  width: 60px;
  height: 20px;
  font-size: 14px;
  color: #666666;
  top: 196px;
}

.login-checkbox-tip.repwdtip {
  position: absolute;
  left: 84px;
}

.login-checkbox-tip.autologintip {
  position: absolute;
  left: 188px;
}

.login-footer {
  position: absolute;
  top: 236px;
  width: 100%;
  height: 40px;
  text-align: center;
}
.login-footer .login-btn {
  width: 320px;
  height: 100%;
  background: #509ED1;
  border-radius: 24px;
  border: 1px solid #509ED1;
  font-size: 16px;
  color: #FFFFFF;
  outline: none;
}
.login-footer .login-btn:active {
  text-shadow: 0 0 0.2em #FFF, -0 -0 0.2em #FFF;
}

