.trans-list-tab {
  width: 120px;
  height: 36px;
  top: 100px;
  border: 1px solid #999;
  border-radius: 8px;
  opacity: 0.6;
  font-size: 18px;
  color: #999;
  background: #F9F9F9;
  outline: none;
  cursor: pointer;
}
.trans-list-tab.is-selected {
  color: #F9F9F9;
  background: #999;
}

.trans-list-tab.uploading {
  position: absolute;
  left: 40px;
}
.trans-list-tab.downloading {
  position: absolute;
  left: 280px;
}
.trans-list-tab.completed {
  position: absolute;
  left: 520px;
}

.trans-list-clear {
  position: absolute;
  left: 861px;
  top: 127px;
  background: #509ED1;
  border-radius: 5px 5px 0px 0px;
  width: 125px;
  height: 35px;
  font-size: 16px;
  color: #FFF;
  outline: none;
  border: 1px solid #509ED1;
}
.trans-list-clear:active {
  text-shadow: 0 0 0.2em #FFF, -0 -0 0.2em #FFF;
  left: 862px;
  top: 126px;
  width: 123px;
  height: 34px;
}

.trans-list-row {
  margin: 0px 27px 0px 27px;
  width: 960px;
  height: 62px;
  padding: 20px 0px 20px 0px;
  vertical-align: middle;
  line-height: 62px;
  border-bottom: 1px solid #999;
}
.trans-list-row .file-icon {
  display: inline-block;
  margin-left: 11px;
  width: 48px;
  height: inherit;
}
.trans-list-row .info {
  display: inline-block;
  margin-left: 12px;
  width: 280px;
  height: inherit;
}
.trans-list-row .info .file-name {
  font-size: 18px;
  color: #333;
  height: 25px;
}
.trans-list-row .info .file-size {
  font-size: 14px;
  color: #666;
  height: 20px;
}
.trans-list-row .file-date {
  display: inline-block;
  margin-left: 13px;
  width: 79px;
  font-size: 18px;
  color: #666;
}
.trans-list-row .file-type {
  display: inline-block;
  margin-left: 120px;
  width: 94px;
  font-size: 18px;
  color: #666;
}
.trans-list-row .file-type .type-icon {
  font-size: 14px;
  color: #509ED1;
}
